.manage-user-container {
  padding: 10px;
  .user-content {
    .btn-add-new {
      margin: 15px 0;
      button {
        border: none;
        border-radius: 3px;
      }
    }
    .table-users-container {
      padding-top: 20px;
      width: 50vw;
    }
  }
  .title {
    font-weight: 600;
    font-size: 20px;
  }
}
.modal-add-user {
  .img-preview {
    height: 150px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .label-upload {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid red;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    background: #e6e2e2;
    border: none;
    cursor: pointer;
    &:hover {
      background: #706f6f;
    }
  }
}
